.corpo{
    background-image: url(fundo.webp), url(rain.webp);
}

.titulo{
    text-align: center;
    color:rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 50px;
text-shadow: #948888  -3px -2px;
}

.linha1{
    position: absolute;
width: 550px;

height: 1px;
border: 1px solid #000000;
transform: rotate(0.09deg);
position: absolute;
    left: 10px;
    top: 50px;}

    .linha2{
        width: 555px;
height: 1px;
border: 1px solid #000000;
transform: rotate(0.09deg);
position: absolute;
    left: 800px;
    top: 50px;
    }

    .bloco{
        position: absolute;
        width: 190px;
        height: 250px;
        left: 20px;
        top: 200px;
        background: #d3af9a;
        border-radius: 21px;
        box-shadow: #000102;

    }

    .bloco2{
        position: absolute;
        width: 190px;
        height: 250px;
        left: 300px;
        top: 200px;
        background: #d3af9a;
        border-radius: 21px;
    }

    .bloco3{
        position: absolute;
        width: 190px;
        height: 250px;
        left: 585px;
        top: 200px;
        background: #d3af9a;
        border-radius: 21px;
    }

    .bloco4{
        position: absolute;
        width: 190px;
        height: 250px;
        left: 870px;
        top: 200px;
        background: #d3af9a;
        border-radius: 21px;
    }

    .bloco5{
        position: absolute;
        width: 190px;
        height: 250px;
        left: 1152px;
        top: 200px;
        background: #d3af9a;
        border-radius: 21px;
    }

    .img1{
        position: absolute;
        width: 190px;
        height: 266px;
        left: 20px;
        top: 200px;
        border-radius: 21px;
    }

    .img2{
        position: absolute;
        width: 190px;
        height: 266px;
        left: 300px;
        top: 200px;
        border-radius: 21px;
    }

    .img3{
        position: absolute;
        width: 190px;
        height: 266px;
        left: 585px;
        top: 200px;
        border-radius: 21px;
    }

    .img4{
        position: absolute;
        width: 190px;
        height: 266px;
        left: 870px;
        top: 200px;
        border-radius: 21px;
    }

    .img5{
        position: absolute;
        width: 190px;
        height: 266px;
        left: 1152px;
        top: 200px;
        border-radius: 21px;   
    }

    .h3{
        position: absolute;
        width: 10px;
        height: 10px;
        left: 30px;
        top: 90px;
        font-family:'Times New Roman', Times, serif;
font-size: 30px;
text-shadow: #858585 -2px -1px;
    }

    .serie{
        position: absolute;
        width: 10px;
        height: 10px;
        left: 200px;
        top: 90px;
        font-family:'Times New Roman', Times, serif;
font-size: 30px;
text-shadow: #858585 -2px -1px;
    }

    .anime{
        position: absolute;
        width: 10px;
        height: 10px;
        left: 360px;
        top: 90px;
        font-family:'Times New Roman', Times, serif;
font-size: 30px;
text-shadow: #858585 -2px -1px;
    }

    .Busca{
        position: absolute;
width: 350px;
height: 25px;
left: 980px;
top: 125px;
background: #D9D9D9;
border-radius: 57px;
text-align: center;
text-align: left;
    }

    .top5{
      
        text-align: center;
    left: 300px;
                font-family:'Times New Roman', Times, serif;
font-size: 30px;
text-shadow: #858585 -2px -1px;
    }
